@import "tailwindcss";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.center-everything {
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.center-everything-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
